<div class="body">
    <div class="mt-3" fxLayout='row' fxLayoutAlign='space-between center'>
        <h1 class="text-primary">Home</h1>
    </div>

    <div class="mt-3" gdColumns='1fr' gdGap='20px'>
        <h4>Assigned Case</h4>
        <div *ngIf='assignedCase.length === 0' class='text-center'>You have no assigned case at the moment</div>
        <app-single-case *ngIf='assignedCase.length > 0' [case]='assignedCase'></app-single-case>
    </div>
    <div class="mt-5">
        <h4>All Cases</h4>
        <hr>
        <div class="mt-3" gdColumns='1fr' gdGap='20px'>
            <app-single-case *ngFor='let case of casesList' [case]='case'></app-single-case>
        </div>
    </div>
</div>
