<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>Probono</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" *ngIf='isLoggedIn()'>
                <li class="nav-item" routerLinkActive='active' routerLink='/client/home'>
                    <a class="nav-link" (click)="isCollapsed = true">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive='active' routerLink='/profile'>
                    <a class="nav-link" (click)="isCollapsed = true">View Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="isCollapsed = true; logout()">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf='!isLoggedIn()'>
                <li class="nav-item" routerLinkActive='active' routerLink='/auth/signup'>
                    <a class="nav-link" (click)="isCollapsed = true">Signup <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive='active' routerLink='/auth/login'>
                    <a class="nav-link" (click)="isCollapsed = true">Login <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class='container body'>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer class="py-3 mt-3 text-white bg-primary">
    <div class="container" fxLayout='row' fxLayoutAlign='center'>&copy; AO</div>
</footer>
